.myDiv {
  border: 5px outset red;
  background-color: cornsilk;
  text-align: center;
}
p
{
  color: ;
text-align: justify;


}
h1
{
  color: yellow;
}
h2
{
  color: darkred;
}
.center {
  margin: auto;
  width: 60%;
  border: 3px solid:
  padding: 10px;
}
img
{
  width: 1px;
}
